<!DOCTYPE html>
<html>
<head>
  <title>Tic Tac Toe</title>
  <style>
    #game-msg {
        width: 300px;
        text-align: center;
        font-size: 150%
    }
  </style>
</head>
<body>
  <div id='game'>
    <canvas id='canvas' width='300' height='300'></canvas>
    <div id='game-msg'></div>
  </div>
  <div id="tx-hashes">

  </div>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script>
        start_game({{ Iplayer }}, {{ game }});
    </script>
</body>
</html>