{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div id='game'>
                <canvas id='canvas' width='300' height='300'></canvas>
                <div id='game-msg'></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8" style="overflow: hidden">
            <h2>Trasactions</h2>
            <div id="tx-hashes">
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    start_game({{ Iplayer }}, {{ game }});
{% endblock %}